body {
    font-family: 'Comic Sans MS';
    background-image: url('img/sparkle.gif');
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 0, 255);
}

a {
    color: rgb(255, 200, 200);
}

.quote {
    color: rgb(127, 127, 127);
    font-style: italic;
}